<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-3">
                <p th:if="${role} ne null" th:text="${role}">ADMIN/CLIENT/ANONYMOUS</p>
                <p th:if="${role} eq null" th:text="ANONYMOUS">ADMIN/CLIENT/ANONYMOUS</p>
            </div>
            <div class="col-md-6">
                <h2 style="text-align:center;" th:text="#{loc.mainpage}">MAIN-TMPLT</h2>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                    <form action="?" method="get">
                        <button class="btn btn-default" type="submit" name="lang" value="en_EN" th:text="#{loc.btn.en}">EN</button>
                    </form>
                    </div>
                    <div class="col-md-3">
                    <form action="?" method="get">
                        <button class="btn btn-default" type="submit" name="lang" value="ru_RU" th:text="#{loc.btn.ru}">РУ</button>
                    </form>
                    </div>
                    <div class="col-md-3">
                    <form action="/logout" method="GET">
                        <button type="submit" class="btn btn-default" th:text="#{loc.btn.log.out}">Log out</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>

<div class="well">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a th:href="${home_address} + '/'" th:text="#{loc.mainpage}">MAIN-TMPLT</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/products/products/1'" th:text="#{loc.products}">PRODUCTS-TMPLT</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/add_product'" th:text="#{loc.add.product}">ADD-PRODUCT-TMPLT</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/manage_orders/1'" th:text="#{loc.orders}">ORDERS-TMPLT</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/manage_clients/1'" th:text="#{loc.clients}">CLIENTS-TMPL</a></li>
    </ul>
    <hr/>
    <p>Have a nice day!</p>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="well well-sm">
    <h4 style="text-align:center;" th:text="#{loc.navbar}">NAVIGATOR-TMPLT</h4>
    <ol class="breadcrumb" style="text-align:center;">
        <!--<li><a th:href="${home_address} + '/'">Home</a></li>-->
        <li class="active" th:text="#{loc.mainpage}">MAIN-TMPLT</li>

    </ol>
</div>

</body>
</html>