<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Client orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

</head>
<body>
<div class="well well-sm">
    <h2 style="text-align:center;">Clients orders</h2>
</div>

<!-- HEADER END -->

<div class="well">
    <ul class="nav nav-tabs">
        <li role="presentation"><a th:href="${home_address} + '/'">Main</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/products/products/1'">Products</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/add_product'">Add product</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/manage_orders'">Manage orders</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/manage_clients/1'">Manage clients</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/edit_client/' + ${user_id}">Edit client</a></li>
        <li role="presentation" class="active"><a th:href="${home_address} + '/market/admin/client_orders/' + ${user_id} + '/1'">Client orders</a></li>
    </ul>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>All client orders are here :</h4>
                <form th:action="'/market/admin/edit_client/' + ${user_id}" method="GET">
                    <button type="submit" name="user_id" th:value="${user_id}" title="Edit client">Back to client </button>
                </form>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped" border="1px solid black;">
                        <thead>
                        <tr>
                            <th>Date creation</th><!--creation_date-->
                            <th>Order Id</th><!--order_id-->
                            <th>Order Status</th><!--OrderStatus-->
                            <th>Total price</th><!--totalSum-->
                            <th>Ordered products</th><!-- inspect order with order products -->

                        </tr>
                        </thead>

                        <tbody>
                        <!--Output PART-->
                        <div th:each="client : ${orders}">
                            <tr>
                                <td th:text="*{orders.date}">Date creation</td><!--creation_date-->
                                <td th:text="${orders.id}">Id</td><!--order_id-->
                                <td><form action="/market/admin/manage_order/change_status" method="POST">
                                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/><p data-placement="top" data-toggle="tooltip" th:title="${client.status}">
                                    <button th:if="${client.status} == NEW" th:value="${client.id}" name="user_id" class="btn btn-success btn-xs" data-title="CLOSED" data-toggle="modal" data-target="#Change status" >
                                        <span class="glyphicon glyphicon-ok"></span></button>
                                    <button th:if="${client.status} == ACTIVE" th:value="${client.id}" name="user_id" class="btn btn-warning btn-xs" data-title="Active" data-toggle="modal" data-target="#Change status" >
                                        <span class="glyphicon glyphicon-send"></span></button>
                                    <button th:if="${client.status} == CLOSED" th:value="${client.id}" name="user_id" class="btn btn-danger btn-xs" data-title="NEW" data-toggle="modal" data-target="#Change status" >
                                        <span class="glyphicon glyphicon-remove"></span></button></p></form></td>
                                <td th:text="${orders.price}">Price</td><!--price-->
                                <td><form th:action="'/market/admin/order/' + ${orders.id}" method="GET"><p data-placement="top" data-toggle="tooltip" title="Description">
                                    <button th:value="${orders.id}" class="btn btn-primary btn-xs" data-title="Orders" data-toggle="modal" data-target="#Description" >
                                    <span class="glyphicon glyphicon-folder-close"></span></button></p></form></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>

                    <div class="clearfix" style="text-align:center;"></div>
                    <ul class="pagination pull-right" th:each="page : ${pages}">
                        <li class="active" th:if="${current_pape} == ${page}" >
                            <a th:text="${current_page}" th:href="${home_address}+ '/market/admin/manage_clients/' + ${current_page}">current page</a>
                        </li>
                        <li th:if="${current_pape} != ${page}">
                            <a th:text="${page}" th:href="${home_address}+ '/market/admin/manage_clients/' + ${page}">page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NAVIGATOR -->
<div class="well well-sm">
    <h4 style="text-align:center;">Navigator</h4>
    <ol class="breadcrumb" style="text-align:center;">
        <li><a th:href="${home_address} + '/'">Main</a></li>
        <li><a th:href="${home_address} + '/market/admin/manage_clients/1'">Manage clients</a></li>
        <li><a th:href="${home_address} + '/market/admin/edit_client/' + ${user_id}">Edit client</a></li>
        <li class="active">Client orders</li>
    </ol>
</div>
</body>
</html>