<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Manage clients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

</head>
<body>
<div class="well well-sm">
    <h2 style="text-align:center;">Manage clients</h2>
</div>

<!-- HEADER END -->

<div class="well">
    <ul class="nav nav-tabs">
        <li role="presentation"><a th:href="${home_address} + '/'">Main</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/products/products'">Products</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/add_product'">Add product</a></li>
        <li role="presentation"><a th:href="${home_address} + '/market/admin/manage_orders'">Manage orders</a></li>
        <li role="presentation" class="active"><a th:href="${home_address} + '/market/admin/manage_clients/1'">Manage clients</a></li>
    </ul>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>All clients are here</h4>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped" border="1px solid black;">
                        <thead>
                            <tr>
                                <th>Date creation</th><!--creation_date-->
                                <th>Id</th><!--user_id-->
                                <th>Login</th><!--login-->
                                <th>Password</th><!--password-->
                                <th>Name</th><!--name-->
                                <th>Surname</th><!--surname-->
                                <th>Role</th><!--role-->
                                <th>Sex</th><!--sex-->
                                <th>Status</th><!--account_status-->
                                <th>Occupation</th><!--occupation-->
                                <th>Edit</th><!-- Inspect for Editing -->
                                <th>Orders</th><!--List<Order>-->
                            </tr>
                        </thead>

                        <tbody>
                        <!--Output PART-->
                        <div th:each="client : ${clients}">
                            <tr>
                                <td th:text="*{client.date}">Date creation</td><!--creation_date-->
                                <td th:text="${client.id}">Id</td><!--user_id-->
                                <td th:text="${client.login}">Login</td><!--login-->
                                <td><form action="/market/admin/manage_clients/reset" method="POST">
                                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/><p data-placement="top" data-toggle="tooltip" title="Reset [q1Q]">
                                        <button th:value="${client.id}" name="user_id" class="btn btn-danger btn-xs" data-title="Reset" data-toggle="modal" data-target="#Reset" >
                                            <span class="glyphicon glyphicon-refresh"></span></button></p></form></td>
                                <td th:text="${client.name}">Name</td><!--name-->
                                <td th:text="${client.surname}">Surname</td><!--surname-->
                                <td th:text="${client.role}">Role</td><!--role-->
                                <td th:text="${client.sex}">Sex</td><!--sex-->
                                <td><form action="/market/admin/manage_clients/change_status" method="POST">
                                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/><p data-placement="top" data-toggle="tooltip" th:title="${client.status}">
                                    <button th:if="${client.status} != BLOCKED" th:value="${client.id}" name="user_id" class="btn btn-success btn-xs" data-title="Reset" data-toggle="modal" data-target="#Change status" >
                                        <span class="glyphicon glyphicon-ok"></span></button>
                                    <button th:if="${client.status} == BLOCKED" th:value="${client.id}" name="user_id" class="btn btn-danger btn-xs" data-title="Reset" data-toggle="modal" data-target="#Change status" >
                                        <span class="glyphicon glyphicon-remove"></span></button></p></form></td>
                                <td th:text="${client.occupation}">Occupation</td><!--occupation-->
                                <td><form th:action="'/market/admin/edit_client/' + ${client.id}" method="GET"><p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button th:value="${client.id}" class="btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="#Edit" >
                                        <span class="glyphicon glyphicon-zoom-in"></span></button></p></form></td>
                                <td><form th:action="'/market/admin/client_orders/' + ${client.id} + '/1'" method="GET"><p data-placement="top" data-toggle="tooltip" title="Orders">
                                    <button th:value="${client.id}" class="btn btn-success btn-xs" data-title="Orders" data-toggle="modal" data-target="#Orders" >
                                        <span class="glyphicon glyphicon-folder-close"></span></button></p></form></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>

                    <div class="clearfix" style="text-align:center;"></div>
                    <ul class="pagination pull-right" th:each="page : ${pages}">
                        <li class="active" th:if="${current_page} == ${page}" >
                            <a th:text="${current_page}" th:href="${home_address}+ '/market/admin/manage_clients/' + ${current_page}">current page</a>
                        </li>
                        <li th:if="${current_page} != ${page}">
                            <a th:text="${page}" th:href="${home_address}+ '/market/admin/manage_clients/' + ${page}">page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NAVIGATOR -->
<div class="well well-sm">
    <h4 style="text-align:center;">Navigator</h4>
    <ol class="breadcrumb" style="text-align:center;">
        <li><a th:href="${home_address} + '/'">Main</a></li>
        <li class="active">Manage clients</li>
    </ol>
</div>
</body>
</html>