
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-3">
                <p th:text="${#dates.format(date, 'yyyy-MM-dd HH:mm:ss')}">YYYY-MM-DD-HH:MM:SS</p>
                <p th:if="${role} ne null" th:text="${role}">ADMIN/CLIENT/ANONYMOUS</p>
                <p th:if="${role} eq null" th:text="ANONYMOUS">ADMIN/CLIENT/ANONYMOUS</p>
            </div>
            <div class="col-md-6">
                <h2 style="text-align:center;">Hello! Привет! 您好!</h2>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                        <form action="/?" method="get">
                            <button class="btn btn-default" type="submit" name="lang" value="en_EN" th:text="#{loc.btn.en}">EN</button>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <form action="/?" method="get">
                            <button class="btn btn-default" type="submit" name="lang" value="ru_RU" th:text="#{loc.btn.ru}">РУ</button>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <form action="/logout" method="GET">
                            <button type="submit" class="btn btn-default" th:text="#{loc.btn.log.out}">Log out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="well">
        <ul class="nav nav-tabs" >
            <li role="presentation" class="active"><a th:href="${home_address} + '/'" th:text="#{loc.btn.log.in}">LOG-IN-TMPLT</a></li>
            <li role="presentation"><a th:href="${home_address} + '/market/registration'" th:text="#{loc.registration}">REGISTRATION-TMPLT</a></li>
        </ul>
        <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:15px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login with Username and Password</h3>
                    </div>
                    <div class="panel-body">
                        <!--/*@thymesVar id="logout" type="boolean"*/-->
                        <div th:if="${logout}" class="alert alert-info" role="alert">You've been logged out successfully.</div>
                        <!--/*@thymesVar id="error" type="boolean"*/-->
                        <div th:if="${error}" class="alert alert-danger" role="alert">Invalid Login or Password, or even both of them!</div>
                        <form method="post">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                            <div class="form-group">
                                <label for="username" th:text="#{loc.login}">LOGIN-TMPLT</label>
                                <input type="text" class="form-control" id="username" placeholder="Login"
                                       name="username"/>
                            </div>
                            <div class="form-group">
                                <label for="password" th:text="#{loc.password}">PASSWORD-TMPLT</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                       name="password"/>
                            </div>
                            <button type="submit" class="btn btn-default" th:text="#{loc.btn.log.in}">LOG-IN-TMPLT</button>
                        </form><br/>
                        <form action="/logout" method="GET">
                            <button type="submit" class="btn btn-default" th:text="#{loc.btn.log.out}">LOG-OUT-TMPLT</button>
                        </form><br/>
                        <p th:text="#{loc.or} ">OR-TMPLT</p> <a th:href="${home_address} + '/market/registration'" th:text="#{loc.register}">REGISTER-TMPLT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="well well-sm">
        <h4 style="text-align:center;" th:text="#{loc.navbar}">NAVIGATOR-TMPLT</h4>
        <ol class="breadcrumb" style="text-align:center;">
            <li class="active" th:text="#{loc.homepage}" >HOME</li>
            <li><a th:href="${home_address} + '/market/registration'" th:text="#{loc.registration}">Registration</a></li>
            <li><a th:href="${home_address} + '/test'">Test anonymous</a></li>
        </ol>
    </div>
</body>
</html>