<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error: 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>

<div class="well well-sm">
    <h1 style="text-align:center;">Server error. Error 500</h1>
</div>

<div class="well">
    <p>Sorry, asshole developer! </p>
    <br/>
    <p>By the way, if you are an admin, you can't delete product, if it is in order or reserved</p>
</div>

<div class="well well-sm">
    <h4 style="text-align:center;">Navigator</h4>
    <ol class="breadcrumb" style="text-align:center;">
        <li><a href="/">Main</a></li>
    </ol>
</div>

</body>
</html>