<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
</head>
<body>
    <h1>Try to register!</h1><br/>
    <!--/*@thymesVar id="user" type="by.ras.entity.particular.User"*/-->
    <form action="/user/registration" method="POST" th:object="${user}">
        <label for="name">Name: </label>
        <input id="name" type="text" th:field="*{name}"/><br/>
        <label for="surname">Surname: </label>
        <input id="surname" type="text" th:field="*{surname}"/><br/>
        <label for="login">Login: </label>
        <input id="login" type="text" th:field="*{login}"/><br/>
        <label for="password">Password: </label>
        <input id="password" type="text" th:field="*{password}"/><br/>

        <ul style="list-style-type: none">
            <!--/*@thymesVar id="sexs" type="by.ras.entity.Sex"*/-->
            <li th:each="sex : ${sexs}">
                <input title="" type="radio" th:value="${sex}" th:field="*{sex}"/>
                <span th:text="${#strings.capitalize(#strings.toLowerCase(sex))}">Each type</span>
            </li>
        </ul>
        <ul style="list-style-type: none">
            <!--/*@thymesVar id="occupations" type="by.ras.entity.Occupation"*/-->
            <li th:each="occupation : ${occupations}">
                <input title="" type="radio" th:value="${occupation}" th:field="*{occupation}"/>
                <span th:text="${#strings.capitalize(#strings.toLowerCase(occupation))}">Each type</span>
            </li>
        </ul>

        <button type="submit">Save user</button>
    </form>

    <div>
        <hr/>
        <p>Go to <a href="http://localhost:8080/">index</a></p>
        <p>Go to <a href="http://localhost:8080/test">test</a></p>
        <p>Go to <a href="http://localhost:8080/user/usertest">usertest</a></p>
        <p>Go to <a href="http://localhost:8080/user/registration">register new user</a></p>
    </div>
</body>
</html>